* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:black;
}

h7{
  color: #ff8c00;
}

.infolist{
  color: #ff8c00;
  width: 500px;
}

.infolist li {
  margin-bottom: 10px;
  word-wrap: break-word;
  text-shadow: 20px 20px 50px #ffffff;
}

.infolist h2{
  margin-bottom: 20px;
}

#include1{
  background-image: url('images/fotoinclude2.png');
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#divinclude1{
  margin-left: 30px;
}

a:link {
  color: purple; /* Cor padrão para links não visitados */
  text-decoration: none; /* Remove o sublinhado */
}

a:visited {
  color: purple; /* Cor para links visitados */
}

a:hover {
  color: purple; /* Cor ao passar o mouse */
  text-decoration: none; /* Adiciona sublinhado ao passar o mouse */
}

a:active {
  color: blueviolet; /* Cor ao clicar no link */
}


/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  background-color:black ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #f39c12;
}

@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }
}

.navbar img {
  height: 60px; /* Define a altura */
  width: auto;  /* Ajusta a largura proporcionalmente */
  margin-left: 10px; /* Espaço entre a imagem e o texto */
}


